<!DOCTYPE html>
<html lang="es">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ path_for('Start') }}img/icon.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ path_for('Start')}}styles/stylesDefault/globalStyles.css{{ versionerp }}">
	<link rel="stylesheet" type="text/css" href="{{ path_for('Start')}}styles/stylesDefault/loader.css{{ versionerp }}">
	<link rel="stylesheet" type="text/css" href="{{ path_for('Start')}}styles/stylesDefault/containerTable.css{{ versionerp }}">
	<link rel="stylesheet" type="text/css" href="{{ path_for('Start')}}styles/stylesDefault/slider.css{{ versionerp }}">
	{% block head %} {% endblock %}</title>
	<title>{% block title %} TorniPay {% endblock %}</title>
</head>
<body class="d-flex flex-column" style="background-color: #fbfff1;">
	<div class="page-contentClass page-content" id="content">
		{% include("navbar.twig")%}

		{% block content %}
			
		{% endblock %}
	</div>
	{% include("footer.twig")%}
	{% include("modales.twig")%}
	<script type="text/javascript" src="{{ path_for('Start') }}scripts/utils/showReplyMessage.js{{ versionerp }}"></script>
	<script type="text/javascript" src="{{ path_for('Start') }}scripts/utils/sendPost.js{{ versionerp }}"></script>
	<script type="text/javascript" src="{{ path_for('Start') }}scripts/utils/utils.js{{ versionerp }}"></script>
	<script type="text/javascript">
		
	</script>
	<span class="loaderback" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(1, 1, 1, .6); z-index:998; display: none;"></span>
	<span class="loader" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index:999; display: none;"></span>
</body>
</html>