{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center" style="height: 80vh;">
	<div class="card shadow mt-4" style="min-width: 350px; max-width: 500px; align-self: center;">
		<div class="card-header background-template-color text-template-color h4">
			Iniciar sesión
		</div>
		<div class="card-body">
			<div class="d-flex justify-content-center">
				<div class="form-group w-75">
					<label for="inputUser">Usuario</label>
					<input type="text" class="form-control shadow-sm" id="inputUser" placeholder="Ingresar usuario" onkeypress="return keyPressSignIn(event, this.value, 30)">
				</div>
			</div>
			<div class="d-flex justify-content-center">
				<div class="form-group w-75">
					<label for="inputPassword">Contraseña</label>
					<input type="password" class="form-control shadow-sm" id="inputPassword" placeholder="Ingresar contraseña" onkeypress="return keyPressSignIn(event, this.value, 30)">
				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="d-flex justify-content-between">
				<a class="btn btn-cancel shadow-sm" href="{{ path_for('Start') }}">Cancelar</a>
				<button id="buttonConfirm" class="btn btn-primary shadow-sm" onclick="signIn()" onkeypress="return keyPressSignIn(event, null, null)">Confirmar</button>
			</div>
		</div>
	</div>
</div>
{% block script %}
<script type="text/javascript" src="{{ path_for('Start') }}scripts/utils/signIn.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start') }}scripts/utils/showReplyMessage.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start') }}scripts/utils/sendPost.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start') }}scripts/utils/utils.js{{ versionerp }}"></script>
<script type="text/javascript">
	$(document).ready( function(){
	$('#inputUser').focus();
        console.log("Ready!")
        
        $('#titlePage').text('')
    });
</script>
{% endblock %}
{% endblock %}