{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}
    <div class="tableContainer d-flex">
        <table class="table table-hover table-striped" id="tableUsers">
            <thead class="template-bg">
                <tr>
                    <th>Usuarios</th>
                </tr>
            </thead>
            <tbody>
            {{ dump(usuarios) }}
                {# {% for oneItem in usuarios %}
                    <tr id="{{ oneItem['id'] }}">
                        <td>{{ oneItem['usuario'] }}</td>
                    </tr>
                {% endfor %} #}
            </tbody>
        </table>
    </div>
{% block script %}
<script type="text/javascript" src="{{ path_for('Start') }}scripts/users.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start') }}scripts/utils/showReplyMessage.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start') }}scripts/utils/sendPost.js{{ versionerp }}"></script>
<script type="text/javascript" src="{{ path_for('Start') }}scripts/utils/utils.js{{ versionerp }}"></script>
<script type="text/javascript">
</script>
{% endblock %}
{% endblock %}